openapi: 3.0.3
info:
  title: Room API
  version: 0.1.0
servers:
  - url: http://localhost:3000/api/room

paths:
  /getRoomId:
    get:
      summary: ルームIDを取得する
      description: クエリ `name` を受け取り、対応するルームIDを返す。
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: ルーム名
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoomIdResponse'
              examples:
                sample:
                  value:
                    id: "r_123"
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
              examples:
                sample:
                  value:
                    status: false
                    error: "サーバーエラーが発生しました"

  /createRoom:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: ""
              required:
                - name
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRoomIdResponse"
              examples:
                sample:
                  value:
                    status: true
        "400":
          description: bodyに値が入っていない
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
              examples:
                sample:
                  value:
                    status: false
                    error: "不正なリクエストです"
        409:
          description: ルーム名の重複禁止です。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
              examples:
                sample:
                  value:
                    status: false
                    error: "不正なリクエストです"

        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error500"
              examples:
                sample:
                  value:
                    status: false
                    error: "サーバーエラーが発生しました"

  /allRooms:
    get:
      summary: すべての部屋を取得する
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoomIdResponse'
              examples:
                sample:
                  value:
                    id: "r_123"
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
              examples:
                sample:
                  value:
                    status: false
                    error: "サーバーエラーが発生しました"

  /findRoom:
    post:
      summary: ルームを検索する
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: ""
              required:
                - name
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRoomIdResponse"
              examples:
                sample:
                  value:
                    room: "roomA"
        "400":
          description: 値が入っていない
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
              examples:
                sample:
                  value:
                    status: false
                    error: "不正なリクエストです"
        "404":
          description: ルームが存在しない
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
              examples:
                sample:
                  value:
                    status: false
                    error: "ルームが存在しない"
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
              examples:
                sample:
                  value:
                    status: false
                    error: "サーバーエラーが発生しました"





components:
  schemas:
    GetRoomIdResponse:
      type: object
      required: [id]
      properties:
        id:
          type: string
          description: ルームID
    Error500:
      type: object
      required: [status, error]
      properties:
        status:
          type: boolean
          example: false
        error:
          type: string
          example: "サーバーエラーが発生しました"
    Error400:
      type: object
      required: [status, error]
      properties:
        status:
          type: boolean
          example: false
        error:
          type: string
          example: "不正なリクエストです"
